
## QuPath   
QuPath-0.4.3/
qupath-projects/
data/
## Fiji for PyImageJ support
fiji/
*.tiff
*ome.tif
## acquisition-configs
acquisition-configs/*
## python specific
.ipynb_checkpoints/
*.pyc
.vscode/*
.venv/*
*.log

## coverage
.coverage

## 
.vscode
*.tif
*.egg-info